@charset "UTF-8";
@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "font-socials";


html {
  font-size: 16px;
  color: #000000;
}
ul, p{
  padding: 0;
  margin: 0;
}
body {
  font-family: 'roboto_condensedregular', 'Arial', 'sans-serif';
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  @include min-max(320px, 100%, 0);
  background: $primary;
}

@import "components/header";
@import "components/menu";
@import "components/projects";
@import "components/like";
@import "components/studio";
@import "components/staff";
@import "components/news";
